*{
  margin: 0;
  padding: 0;
}

header{
  height: 100px;
  background-color: #4ea1ff;
  background-image: url(../img/pattern.png);
  background-size: 30%;
  margin: 0px;
}

.logo{
  height: 50px;
  margin-top: 40px;
}

.box{
  width: 85%;
  margin: auto;
}

main{
  width: 85%;
  margin: auto;
  margin-top: 15px;
}

h1 {
  font-size: 35px;
  line-height: 35px; /* per aggiustare altezza riga */
  margin-bottom: -5px;
}

.foto{
  margin-top: 20px;
}

.credits{
  color:rgb(163, 163, 163);
  font-weight: lighter;
}

.descr{
  margin-top: 0px;
  font-size: 12px;
  margin-bottom: 20px;
}

.mychangecolor{
  color: rgb(67, 183, 233);
}

mark {
  background-color: #ffff00;
}

ul{
  list-style-position: inside;
  margin-top: 20px;
  margin-bottom: 20px;
}

table { 
  width: 100%;
  table-layout: fixed;
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  background-color: rgb(32, 169, 229);
  color: white;
}

tr:nth-child(odd) {
  background-color: rgb(177, 229, 242)
}

h4{
  margin-top: 20px;
  margin-bottom: 10px;
  color: gray;
}

.container{
  background-image: url(../img/monitor.jpg);
  background-size: cover;
  height: 150px;
  width: 230px;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.container2{
  background-image: url(../img/graph.jpg);
  background-size: cover;
  height: 150px;
  width: 230px;
  color: white;
  font-size: 15px;
  font-weight: bolder;
}

footer{
  text-align: center;
  color: rgb(129, 31, 116);
  font-weight: bolder;
}

